@font-face {
    font-family: Charm;
    src: url(fonts/Charm.ttf);
}

html {
    scroll-behavior: smooth;
    scroll-padding-block-start: 6em;
}

body {
    margin: 0;
    font-size: 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

nav {
    background-color: rgb(0, 63, 31);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 3em 3em white;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
}

nav a img {
    height: 75%;
}

nav a img:hover {
    animation: turner 2s ease-out;
}

@keyframes turner {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(1080deg);}
}

nav ul {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

nav ul a {
    display: flex;
    align-items: center;
    height: 50%;
    padding: 0 1em;
    margin: 0 1em;
    border-radius: 0.25em 0.25em 0 0;
    overflow: hidden;
    transition: all 500ms;
}

nav ul a:hover,
nav ul a:focus {
    scale: 1.25 !important;
    background-color: white !important;
    color: black !important;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {
    width: fit-content;
    cursor: pointer;
}

ul {
    list-style: none
}

.banner {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, white), url("images/banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 46.51%;
    z-index: -1;
}

header {
    font-family: Charm;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-bottom: -4em;
    padding: 2em;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

.mob-nav {
    display: none;
}

.mob-navbar {
    display: none;
    position: relative;
    justify-content: center;
    margin-bottom: -4em;
    margin-top: 4em;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, white);
}

.mob-navbar ul {
    padding: 0;
}

.mob-navbar a {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.mob-navbar li {
    border-radius: 100vw;
    padding: 0.5em 1em;
    transition: background-color 250ms;
}
.mob-navbar li:hover {
    background-color: lightgrey;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 4em 5em;
}

.content-img {
    width: 25%;
}

.content img {
    box-shadow: 0 0 2em 0 lightgrey;
    width: 100%;
}

.even {
    background: lightgrey;
}

.item {
    width: 70%; 
    display: flex;
    flex-direction: column;
}

.item a::after,
footer a::after,
.overlay-item a::after {
    display: block;
    content: "";
    border-bottom: 0.175em solid rgba(0, 63, 31, 0.8);
    transform: scaleX(0);
    transition: transform 250ms ease-out;
    transform-origin: 0% 50%;
}

.item a:hover::after,
footer a:hover::after,
.overlay-item a:hover::after {
    transform: scaleX(1);
}

.right {
    text-align: right;
    align-items: flex-end;
}

#Willkommen {
    align-items: center;
    font-family: Charm;
}

#Willkommen img,
#Links img {
    border-radius: 0 0 100vw 100vw;
}

#Willkommen .item {
    align-items: center;
    text-align: center;
}

#Aktuelles tr a:hover {
    font-weight: 500;
    cursor: pointer;
}

#Aktuelles tr a::after {
    display: none;
}

#Aktuelles img {
    border-radius: 2em;
}

.key {
    text-align: left;
    padding-left: 1em;
}

.name {
    text-align: right;
    padding-right: 1em;
}

table {
    width: 100%;
}

tr:hover {
    background-color: lightgrey;
}

.even tr:hover,
.overlay tr:hover {
    background-color: white;
}

#Downloads img {
    border-radius: 2em;
}

#Vorstand img,
#Kalender img,
#Historie img,
#Würdenträger img,
#Galerie img {
    border-radius: 1em;
}

.Historie-grid {
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 4em;
}

.Historie-grid h4 {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    transition: background-color 500ms;
    text-align: center;
    
}

.Historie-grid h4:hover {
    background-color: lightgrey;
}

.Historie-grid a {
    padding: 1em 0;
}

#Links h4 {
    margin: 0.25em 0;
}

.img-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, auto);
    position: relative;
}

.img-grid img {
    min-width: 100%;
}

.img-grid img:hover {
    scale: 1;
    position: absolute;
}

footer {
    background-color: rgb(0, 63, 31);
    margin: 0 !important;
    justify-content: space-around !important;
    align-items: center;
    font-weight: 600;
    color: white;
    padding-bottom: 4em !important;
}

footer a::after {
    border-bottom: 0.175em solid white;
}

.overlay {
    display: none;
    flex-direction: column;
    position: relative;
    border-radius: 2em;
    background: rgba(211, 211, 211, 0.8);
    width: 90vw;
    margin: 5vh 5vw;
    padding-bottom: 2em;
    scroll-margin-block-start: 2em;
    isolation: isolate;
}

.overlay .close-pos {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 5em;
    margin-bottom: 2em;
}

.overlay .close {
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 3em;
    height: 3em;
    margin: 0 2em;
    top: 2em;
}

.overlay span {
    top: 1.25em;
}

.overlay span,
.overlay span:after {
    width: 3em;
    background-color: black;
    height: 0.5em;
    position: absolute;
    border-radius: 100vw;
    rotate: 45deg;
}

.overlay span:after {
    content: " ";
    rotate: -90deg;
}

.overlay h2 {
    margin: 0 2em;
    margin-bottom: 1em;
}

.overlay-item {
    margin: 0 3em;
    margin-bottom: 1em;
}

.overlay-item img {
    width: 50%;
    border-radius: 1em;
}

.image-wrapper {
    margin: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2em;
}

.overlay-image {
    position: sticky;
    top: 6em;
    width: 30%;
    height: fit-content;
    z-index: -1;
    margin-top: 2em;
}

.overlay-image img {
    width: 100%;
    border-radius: 1em;
}

.overlay .key {
    padding: 0 1em 0 2em;
}

.overlay .name {
    padding: 0 2em 0 1em;
}

.Nachruf img {
    filter: grayscale(100%);
}

.image-wrapper .overlay-item {
    width: 60%;
    margin: 0;
}

#Könige :not(h2),
#Festkettenträger :not(h2),
#Buschkönige :not(h2) {
    align-items: center;
}

video {
    width: 100%;
    z-index: -1;
}

small {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1360px) {
    nav img {
        display: none;
    }

    .Historie-grid {
        display: flex;
        flex-direction: column;
    }
    
    .Historie-grid a {
        padding: 0.5em 0;
    }
}

@media (max-width: 1280px) {
    nav {
        display: none;
    }

    header {
        background-image: linear-gradient(to bottom, rgb(0, 63, 31), rgb(0, 63, 31), rgba(0, 63, 31, 0.5), transparent);
        justify-content: space-between;
        align-items: center;
        color: white;
        position: sticky;
        top: 0;
        z-index: 2;
        cursor: pointer;
        padding: 0 1em;
    }

    header h1 {
        width: 75%;
        font-size: 1.5rem;
    }

    .mob-nav {
        display: block;
        position: relative;
        width: fit-content;
        padding: 0 2em;
        -webkit-user-select: none;
        user-select: none;
    }

    .mob-nav input {
        display: block;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
        -webkit-touch-callout: none;
    }

    .mob-nav span {
        display: block;
        width: 2.5em;
        height: 0.375em;
        margin: 0.25em auto;
        position: relative;
        background-color: white;
        border-radius: 100vw;
        transform-origin: 27.5%;
    }

    .mob-nav[aria-expanded="true"] span {
        transition: rotate 250ms ease-in 250ms, opacity 250ms ease-in, margin 250ms ease-in;
        margin: 0 auto;
    }

    .mob-nav[aria-expanded="false"] span {
        transition: rotate 250ms ease-in, opacity 250ms ease-in 250ms, margin 250ms ease-in 250ms;
    }

    .mob-nav[aria-expanded="true"] .top {
        rotate: 45deg;
    }

    .mob-nav[aria-expanded="true"] .mid {
        opacity: 0;
    }

    .mob-nav[aria-expanded="true"] .bot {
        rotate: -45deg;
    }
}

@media (max-width: 768px) {

    h2 {
        font-size: 1.5rem;
    }

    .content {
        padding: 4em 2em;
        flex-direction: column;
    }

    .content-img,
    .item {
        width: 100%;
    }

    .content-img {
        order: 0;
        margin-bottom: 2em;
    }

    .content img:hover {
        scale: 1;
    }

    .item {
        order: 1;
    }

    .right {
        text-align: left;
        align-items: flex-start;
    }

    .key,
    .name {
        padding: 0;
    }

    #Willkommen {
        padding-top: 6em;
    }

    #Vorstand img:hover {
        scale: 1;
    }

    #Vorstand table,
    #Kalender table {
        min-width: 100%;
    }

    footer a {
        padding: 1em 0;
    }

    .image-wrapper {
        flex-direction: column;
    }

    .overlay-item {
        padding-bottom: 2em;
        border-bottom: 0.125em solid rgba(0, 63, 31, 0.5);
    }

    .overlay-item img {
        width: 100%;
    }

    .image-wrapper .overlay-image,
    .image-wrapper .overlay-item {
        width: 100%;
    }

    .overlay-image {
        position: static;
    }
}